[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = "*"
face-recognition = "*"
imutils = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
